.create-blog-row{
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    .create-blog-heading{
        font-size: 2rem;
        justify-content: center;
        display: flex;
        margin-bottom: 5px;
    }

    hr{
        justify-content: center;
        margin-bottom: 1rem;
    }

    label{
        display: block;
        padding-bottom: 5px;
        font-weight: bold;
    }

    input{
    border: none;
    border-bottom: 2px solid green;
    background-color: transparent;
    font-size: 18px;
    transition: color 2s;

    }
    input, select{
        display: block;
        width: 70%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid green;
        background-color: transparent;
        color: black;
    }

    select .inpSelec {
        color: green;
    }

    select{
        width: 73%;
        font-size: 16px;
        color: black;

    }

    select:focus, input:focus, select:hover, input:hover{
        outline: none;
        border-color: red;
    }

    option{
        background-color:#e9eaed;
        border: none;
    }

    .react-datepicker-wrapper{
        width:50%;
    }

    .form-group{
        margin-bottom: 1.75rem;
        margin-left: 10%;
    }
}


/*-----React Live------*/

.live-provider{
    width: 80%;
    height: 50vh;
    background-color: rgb(1, 1, 53);
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 50px 0;
    // .playground-header{
    //     background-color: #292929;
    // }
    h3{
        margin: 0 0 20px 0;
        border-bottom: 1px solid gray;
    }
    .live-editor{
        margin-bottom: 50px;
        font-weight: normal;
        

        .token-line, .token-line span{
            opacity: 1 !important;
        
        }
        .token-tag{
            opacity: 1 !important;
            color: red !important;
        }
    }
    .live-edtor:hover{
        outline: none;
        background-color: none;
    }
    .live-editor textarea:hover, .live-editor textarea:focus{
        outline:none;
    }

    .live-error{
    border: .5px solid gray;
    font-size: 1.2rem;
    color: red;
    }

    .playground-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        color:black;
        background: white;
        width: 250px;
        max-width: 80vw;
        height: 250px;
        margin: 0 auto;
        border-radius: 4px;
    }

    .live-preview{
        background-color: darkgrey;
    }

}