.edit-blog-row{
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    .edit-blog-heading{
        font-size: 2rem;
        justify-content: center;
        display: flex;
        margin-bottom: 5px;
    }

    hr{
        justify-content: center;
        margin-bottom: 1rem;
    }

    label{
        display: block;
        padding-bottom: 5px;
        font-weight: bold;
    }

    input, select{
        display: block;
        width: 70%;
        padding: 10px;
    }

    select{
        width: 73%;
    }

    .react-datepicker-wrapper{
        width:50%;
    }

    .form-group{
        margin-bottom: 1.75rem;
        margin-left: 10%;
    }
}
