/*------Header Navbar----*/

.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    ul{
        display:flex;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
                a{
                margin: 0 15px;
                text-decoration: none;
                color: black;
                letter-spacing: 1.2px;
                }
            }
        }
    a:hover{
        color:#5f9ea0;
        }
}

/*------Main Navbar----*/
.hero-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul{
        display: flex;
        flex-direction: row;

        li{
            list-style: none;
        }

        a{
            text-decoration: none;
            margin: 0 15px;
            text-decoration: none;
            color: black;
            letter-spacing: 1.2px;
        }
    }
}

.search-row {
    font-size: 23px;
    padding: 6px;
    margin-right: 10px;
    color:gray;

    input{
        padding: 5px;
    }
}

.searchInput{
    border: 0;
    width:0;
    transition:width 0.1s ease-in;

    .active{
        width: 150px;
    }
}
.searchInput:focus{
    outline: none;
}
.fa-search{
    cursor: pointer;
}