.sidebar-container{
    margin: 1% 0.7%;
    width:27%;
}

.card-header{
    text-transform: capitalize;
    font-size: 1.5em;
    text-align:center;
    box-sizing: border-box;
    letter-spacing: 2px;
    color:#565673;
    font-weight:600;
}

.profile-image{
    width:100%;
    box-sizing: border-box;

    img {
        display: block;
        border-radius: 50%;
        margin: 0 auto;
        max-width: 50%;
    }
}
